<%layout("layouts/boilerplate.ejs")%>

    <div class="summary-outer">
        <div class="order-summary-heading">
            <h1>Order Summary</h1>
        </div>

        <div class="product-details">
        <div class="order-name"> 
            <h3><%=productById.name%></h3>
        
        </div>

        <div class="product-image">
            <img src="<%=productById.images[0].url%>" alt="<%=productById.images[0].title%>">
        </div>

        <div class="order-description">
            <h5>
                <%=productById.description%>
            </h5>
        </div>
        <div>
            <p>Category :<%=productById.category%></p>

            <p>Price For 1 : <%=productById.price%></p>
        </div>

        </div>

        <div class="biling-information">

            <div class="billing-inner">

                <p>Item Price : <%=productById.price%></p>
                <p>Quantity selected : <%=quantity%></p>
                <p>Tax : <%0%></p>
                <h2>Order Total <%=(productById.price * quantity).toLocaleString("en-IN")%>&#8377</h2>
            </div>
        </div>

        <div class="delivery-address">
            <p><%=deliveryAddress.name%></p>
            <p><%=deliveryAddress.mobileNumber%></p>
        </div>
    </div>

    <form action="/payment" method="post">
        <input type="hidden" name="productId" value="<%=productById._id%>">
        <input type="hidden" name="quantity" value="<%=quantity%>">
        <input type="hidden" name="addressId" value="<%=deliveryAddress._id%>">

        <button>Payment</button>
    </form>


    